/*Responsividade*/

@media (max-width: 475.98px) {
	img.img-logo {
		width: 280px;
	}

	section#titulo-curriculo h1 , section#titulo-sobre h1 , section#titulo-projetos h1 {
		text-shadow: 0 0 1em cyan;
		font-family: beach;
		font-size: 5em;
	}

	section#sobre h4 {
		font-family: beach;
		font-size: 4.2em;
		text-shadow: 0 0 1em cyan;
	}

	img.img-principal	{
		border-radius: 	10px;
		width: 500px;
		height: 400px;
	}

	li.size-li {
		font-size: 1.2em;
		color: white;
		text-shadow: 0 0 1em cyan;
	}

	div.hidden {
		height: 100px;
	}
}

@media (min-width: 475.99px) and (max-width: 575.98px) {
	img.img-logo {
		width: 280px;
	}

	section#titulo-curriculo h1 , section#titulo-sobre h1 , section#titulo-projetos h1 {
		text-shadow: 0 0 1em cyan;
		font-family: beach;
		font-size: 4.5em;
	}

	section#sobre h4 {
		font-family: beach;
		font-size: 3.5em;
		text-shadow: 0 0 1em cyan;
	}

	img.img-principal	{
		border-radius: 	10px;
		width: 500px;
		height: 400px;
	}

	li.size-li {
		font-size: 1.2em;
		color: white;
		text-shadow: 0 0 1em cyan;
	}

	div.hidden {
		height: 100px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px){
	img.img-logo {
		width: 280px;
	}

	section#sobre h4 {
		font-family: beach;
		font-size: 4.2em;
		text-shadow: 0 0 1em cyan;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	section#sobre h4 {
		font-family: beach;
		font-size: 3.6em;
		text-shadow: 0 0 1em cyan;
	}
}


/*Formatações Gerais*/

body {
	margin: 0;
	background: url('imagens/bg3.jpg');
	background-position: center;
	background-size: cover;
	font-family: one;
}

@font-face {
	src: url('fonts/beach.woff');
	font-family: beach;
}

@font-face {
	src: url('fonts/one.woff');
	font-family: one;
}

.hidden {
	height: 150px;
}

/*Topo*/

.img-logo {
	width: 500px;
}

nav {
	background-color: rgba(0, 0, 0, .9);
	box-shadow: 0 0 1em darkred;
}

nav li {
	font-size: 1.5em;
	color: white;
}

nav li a {
	color: white;
}

nav li a:hover {
	color: cyan;
	transition: 1s;
}

	/*Conteudos*/

/*#sobre*/

#sobre {
	box-shadow: 0 0 1em red;
	padding: 20px 0;
}

#sobre h4 {
	font-family: beach;
	font-size: 5em;
	text-shadow: 0 0 1em cyan;
}

#sobre p {
	font-size: 1.3em;
}

.img-principal	{
	border-radius: 	10px;
	width: 500px;
	height: 600px;
}

/*#curriculo*/

.dado {
	border: 6px double white;
	border-right: none;
	border-left: none;
}

#curriculo h2 {
	font-family: beach;
	font-size: 3em;
	text-shadow: 0 0 1em red;
}

#curriculo h3 {
	font-family: one;
	font-style: italic;
	font-size: 1.5em;
	text-shadow: 0 0 1em cyan;
}

#curriculo p {
	font-size: 1.3em;
}

/*Projetos*/

#card {
	border-radius: 20px;
	box-shadow: 0 0 1em red;
}

/* Titulo conteudos */

#titulo-curriculo, #titulo-sobre, #titulo-projetos {
	background: url('imagens/bg5.jpg');
	background-size: cover;
	background-position: center;
	padding: 20px 0;
}

#titulo-curriculo h1 , #titulo-sobre h1 , #titulo-projetos h1 {

	text-shadow: 0 0 1em cyan;
	font-family: beach;
	font-size: 7em;
}

